@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.font {
    font-family: 'Russo One', sans-serif;
    color: #fff;
}

/* header */

header {
    background-color: #F20F38;
}

header .nav .nav-link, h2 {
    color: #fff;
}

header .nav .nav-link.active {
    background-color: #BF0426;
    color: #fff;
}

.navbar-toggler, .navbar-toggler-icon {
    background-color: #fff;
}

.nav-produtos .nav-link.active {
    background-color: #BF0426;
}

.nav-produtos button {
    color: #F20F38;
}

.nav-produtos button:hover {
    color: #F20F38;
}

#produtos {
    background-color: #FF9FA8;
}

.col-md-2 img {
    overflow: hidden;
    transition: .5s ease-in-out;
}

.col-md-2 img:hover {
    -webkit-transform: scale(2);
    transform: scale(2);
}

/* seção nossas lojas */

#nossas-lojas {
    background-color: #FFCCD2;
}

.text-color {
    font-family: 'Great Vibes', cursive;
    color: #F20F38;
}

.info-loja {
    background-color: #F2F2F2;
    padding: 18px;
    border-radius: 16px;
}

/* footer */

.ul-style {
    list-style: none;
    padding: 0px;
}

.ul-style li a {
    text-decoration: none;
    color: #000;
}

#contato {
    background-color: #F2F2F2;
}

/* Mobile */

@media screen and (max-width: 767px) {
    
    /* seção produtos */

    #produtos img {
        max-width: 50px;
    }

    /* seção nossas lojas */

    .info-loja {
        margin-top: 20px;
    }

    #info-loja-middle {
        margin-top: 0px;
        margin-bottom: 20px;
    }

    /* footer */

    footer .row {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        column-gap: 2%;
    }
}

/* Tablets */

@media screen and (min-width: 768px) {

    /* seção produtos */

    .col-md-10 .row{
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .text-wrap h5, .text-wrap p{
        text-wrap: nowrap;
    }

    footer .row {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        text-wrap: nowrap;
    }
}